*.pyc
__pycache__/
config.json
*.swp
.DS_Store
.env
*.db
venv/
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
*.log
*.pid
*.seed
*.pid.lock
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
*.iml